{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draft registration form</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>
</head>
<body>
<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>
            Create an account
        </legend>
        {{ form | crispy }}
    </fieldset>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
</body>
</html>